body {
  color: white;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #151313; */
  /* background-color: #1C1C1C; */
  background-color: #0F0F0F;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: #0F0F0F;
  /* box-shadow: -3px -3px 12px rgb(51, 47, 47); */
  /* margin-top: 100px; */
}

@media (min-width: 992px) {
  .container {
    margin-top: 5em;
  }
}

/*  */
.box-lighter-1 {
  background-color: #1D1D1D;
}

.skill-box-1 {
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 8px #202020;
}

.projects-row {
  margin-top: 2em;
  padding: 2em;
}

.project-box-1 {
  margin-top: 5em;
  box-shadow: 2px 2px 8px #202020;
}

.project-box-info-1 {
  padding: 1.2em;
  position: relative;
  min-height: 15em;
}

.project-box-info-text-1 {
  /* min-height: 100px; */
}

.project-box-info-text-bottom-1 {
  position: absolute;
  bottom: 0;
}
.tiny-text{
  font-size: 0.8em;
  color: grey;
}
.profile-text{
  font-size: 1.1em;
}
.profile-row{
  /* box-shadow: 2px 2px 22px black; */
  background-color: #131313;
  /* border-bottom: 0.2em solid #9d7322; */
}
.profile-extra-info{
  color: grey;
  min-height: 2.5em;
}
.profile-extra-info span{
  margin-left: 0.7em;
}
span svg{
  /* vertical-align: auto; */
}

.footer{
  min-height: 400px; 
  margin-top: 12em;
}
.pad-0{
  padding: 0;
}
.pad-1{
  padding: 1em;
}
.pad-2{
  padding: 2em;
}

.video-over-image-1 {
  position: absolute;
}

.box-to-slide-in-1{
  opacity: 0;
  /* left: 300px; */
  /* position: relative; */
}
.box-to-slide-in-1-left{
  opacity: 0;
  /* left: 300px; */
  /* position: relative; */
}

/* CSS3 Slide in */
.slide-in-1{
  transform: translateY(250px);
  transform: translateX(250px);
  animation: slide-in-1 1.5s ease forwards;
}
.slide-in-1-left{
  transform: translateY(250px);
  transform: translateX(-250px);
  animation: slide-in-1 1.5s ease forwards;
}

@keyframes slide-in-1{
  to { transform: translateY(0); opacity: 1; transform: translateX(0); }
}

/* Fixed left sidebar hiearchy */
.sidebar-left{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: red;
  max-width: 100px;
}

/* Courses */
.courses-row {
  /* box-shadow: 2px 2px 22px black; */
  /* box-shadow: 2px 2px 8px #202020; */
  /* box-shadow: 2px 2px 22px black; */
  background-color: #131313;

  margin-top: 2em;
  padding: 0.75em;

}
.course-box{
  font-size: 0.9em;
}
.courses-list{
  list-style: none;
}
.courses-list li{
  margin-top: 1em;
  /* display: inline-block; */
}
.course-provider{
  background-color: rgb(47, 81, 125);
  padding: 0.4em;
}